@import './theme-overrides.scss';
@import './mixins.scss';
@import './theme/smui-dark.css';

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.content {
	align-self: center;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	max-width: 100vw;
}

.domain-container {
	min-width: 50wh;
	width: 100%;
}

.domain-input {
	width: 50vw;
}

.mt-1 {
	margin-top: 1rem;
}

.mr-1 {
	margin-right: 1rem;
}

.text-center {
	text-align: center;
}

@media screen and (max-width: 768px) {
	.domain-input {
		width: 80vw;
	}

	.content.container {
		min-width: 90vw;
	}

	.mobile--mt-1 {
		margin-top: 1rem;
	}

	.mobile--mr-0 {
		margin-right: 0;
	}

	.mobile--w-100 {
		width: 100%;
	}
}
