@use 'sass:string';

$amounts: (0, 1, 2, 3, 4);
$types: (top, bottom, left, right);

@each $type in $types {
	@each $size in $amounts {
		.m#{string.slice($type, 0, 1)}-#{$size} {
			margin-#{$type}: #{$size * 0.8}em !important;
		}
	}
}

@each $size in $amounts {
	.m-#{$size} {
		margin: #{$size * 0.8}em !important;
	}
}

@each $size in $amounts {
	.mx-#{$size} {
		margin-left: #{$size * 0.8}em !important;
		margin-right: #{$size * 0.8}em !important;
	}
}

@each $size in $amounts {
	.my-#{$size} {
		margin-top: #{$size * 0.8}em !important;
		margin-bottom: #{$size * 0.8}em !important;
	}
}

.m-auto {
	margin: auto !important;
}

.mx-auto {
	margin-left: auto !important;
}

.my-auto {
	margin-top: auto !important;
}

@each $size in $amounts {
	.px-#{$size} {
		padding-left: #{$size * 0.8}em !important;
		padding-right: #{$size * 0.8}em !important;
	}
}

@each $size in $amounts {
	.py-#{$size} {
		padding-top: #{$size * 0.8}em !important;
		padding-bottom: #{$size * 0.8}em !important;
	}
}

$percentages: (20%, 30%, 40%, 50%, 60%, 70%, 80%);
$axis: (width, height);

@each $type in $axis {
	@each $size in $percentages {
		.#{string.slice($type, 0, 1)}-#{string.slice(#{$size}, 0, 2)} {
			#{$type}: #{$size} !important;
		}
	}
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.flex {
	display: flex !important;
}
