@use 'sass:color';

$text-color: #d5ccff;

@use '@material/theme/color-palette';
@use '@material/theme/index' as theme with (
	$primary: #6849fe,
	$secondary: #d0c7ff,
	$surface: color.adjust(color-palette.$grey-900, $blue: +4),
	$background: #363535,
	$error: color-palette.$red-700
);
@use '@material/theme/styles';

@import '../typography';

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
	margin: 0;
}

a {
	color: color.scale($text-color, $lightness: +20%);
}

a:visited {
	color: color.scale($text-color, $lightness: +10%);
}
